{% extends 'base.html' %}

{% block title %} | Home{% endblock %}

{% block content %}
<div class="container pt-2 home d-flex">
    {% for pet in pets %}
    <div class="card border-primary">
        <img class="card-img-top" src="{{pet.photo_url}}" alt="{{pet.name}}">
        <div class="card-body">
            <h5 class="card-title">{{pet.name}} {{"is available" if pet.available else "is unavailable"}}</h5>
        </div>
        <a class="btn btn-primary" href="/{{pet.id}}">View Pet</a>
    </div>
    {% endfor %}
</div>
{% endblock %}